
@font-face {
  font-family: 'Futura';
  src: url('FuturaStd-HeavyOblique.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src:  url('FuturaStd-HeavyOblique.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAD8sABAAAAAAbogAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA+0AAAAD4A
AABQiyWUMUZGVE0AAD8QAAAAGgAAABxLkUepR0RFRgAAOuQAAABAAAAAUAZIBOxHUE9TAAA8SAAA
AogAAAZozcjDI0dTVUIAADskAAABJAAAAf7ybtNsT1MvMgAAAegAAABZAAAAYFrBdCZjbWFwAAAE
xAAAAggAAAKKa7/Shmdhc3AAADrcAAAACAAAAAj//wADZ2x5ZgAACNwAACzcAABR/N951p9oZWFk
AAABbAAAADYAAAA2EOvjG2hoZWEAAAGkAAAAIwAAACQINARiaG10eAAAAkQAAAKAAAAEGCFVRjps
b2NhAAAGzAAAAhAAAAIQF6osXm1heHAAAAHIAAAAHwAAACABUABNbmFtZQAANbgAAAL5AAAF6xCh
wG1wb3N0AAA4tAAAAiUAAALYHg7jxQABAAAAAgAAVRu/718PPPUACwPoAAAAANbUT7sAAAAA1tRP
u/9t/tYEswPqAAMACAACAAAAAAAAeNpjYGRgYLb8H8hwgmXD/9x/P1g2M6QwCDAgAUZWALZgB50A
eNpjYGRgYGRn8GJgZwABJiBmBEIGBgcwnwEACu0AnwB42mNgZpJm6mJgZeBg6mKK+P+FwRtEM5gz
xjEYMUoxMDBxszMxMbEwMTEzMDCAMBw4uji5MigyKPxmYrb8H8hwgvkVo5YCAwMjSI7xNdMnIKXA
wAIAfugNqgAAAHjabZNPSFRRFMa/c+6UReRYRAmazmhRJhkOzR9NKCclKUYRK8hdaeQMlRTlpujP
YtpYJFpBUTSFLqIkqYWrIoignbSsXQbpIgpiyoLq9t3nGJM18OPMPe/cc9/9vvO0C73gTxIkSJqx
W6YxqnFUkYTxoUufolHWY1T8OCN++1Xu4CKfbWO9kZ3Yw7hdS7CMuTaSJaUkTorJRlJPYq4fSbl6
CdrvrgepIZUyhT4zgXEdtjNahYjuY+0FRPguEZng+h3XdxHBL67T9rMeZhxExDRhic4wFqJVi3Kx
hvWFqJbnfPcrOKBnkTSvkNRe+0134ZBuxQIJoJzvPOzFOO+QtR/kNJ5pmHvDCMmIFyPyBWHZhKiG
eL9ShPATdaSI/UP4hJCpQMjldQ1rwljs7enl/hsok+XUZRXaeIcG40eDrrUfdZHNyltrJY0TMo5J
xmqevyOnfS3/j5ClpMzp5mq0kXoN4JQJIC4dSKmimc86nPZebgDHyVXmgtKJGGnnXR7y7IXc283e
+7luYv4l93dzf4vpwhBJk6PUfqWn+38w1xnphedDHs6HfOhV5ZwP83EeM4rnRT7OC3qmtdRvVvd/
MMWocF54PuSR88ERJbP6z/kwHzdnm+0P58Vf0AvPM0bXSx7xnBLU+vyc+yTC3gzRxz8zQ980biep
9TmSzuk+SG3fkBckwXVKhnFQX2Odp/8x9nXfSBYbzDQe8DtKkh5SQB2TpIcU0Kd+0kMyrOv0jeGk
1KOZtOCxPcI7bNEVqOOza663L4aM7uUd7mG1SdH7Jxhy93S1zm+dwi3Tj/MaYP4S+vQmLut93CYZ
fY8x5qNaTnLRzZWbDTcjiKH9N7uY4hd42mNgYGBmgGAZBkYgycDYAuQxgvksjBlAOozBgYGVQYyh
juE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Tew3xAQUBBREFKQU5BSUFNwUDBSsFFYY2isKKSopqi
nhKTEpsSv5KQkqiSlJKckraSh1KCUqrqqd9M//8DzVdgWAA015ExiDEBaG4t0NxjQHNvwM0VVpBQ
kFFQAJtricVcQaC5knBzU4DmMv7////x/0P/J/5v+l/8P/1/4H/f/1b/2P+x/f3xV/ev9F+JBycf
HH9w5MHhB4ce7H+w7cG6B0sf2N2/cf/U/eP3D9x7e+/VvUf3Ht67f+/OvZv3zt7beG/Wvem3jVn/
QsKHFoCRjQFuOCMTkGBCVwCMIhZWNnYOTi5uHl4+fgFBIWERUTFxCUkpaRlZOXkFRSVlFVU1dQ1N
LW0dXT19A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fP/+AwKDgkNCw8IjIqOiY2Lj4hESG
tvbO7skz5i1etGTZ0uUrV69as3b9ug0bN2/dsm3H9j279+57VJSSmvmkYmFB9puyrF8ds74X//6T
Xv7+08cbP3Jqrq3Y1Zic9+3Mzw+5tU+TmlqnHz126/b9B3fu7vx78OTLV89f/Pv/uPLew2ctPc29
Xf0TJvZNncYwZc7c2YfOXim8cPFS1dXL5wCHENLmAAAAKAAoACgAKABCAFYAiADWASABcAF+AZgB
tAHWAe4B/AIKAhwCLAJuAn4CqALoAwgDNgNkA3YDvgPuBA4EKAQ+BFQEagSgBP4FGgVaBYIFoAW6
BdAGBAYgBjAGXAZ6BowGrAbGBvQHGAdMB3YHuAfMB/IICAgqCEYIXgh0CIgIlgioCLwIygjYCQQJ
LglUCYIJrgnaCh4KSApoCogKpAq0CvILHAs+C2oLmAu4C/gMEgwsDEAMXgx2DIoMngzYDOYNHg1O
DU4NbA2eDeoOKA5SDmQO1g72DzwPaA+ED5YPpA/qD/gQHBA6EGgQpBCyENgQ+BEOERwRLBFOEWgR
mBHWEjISahKOErIS2BMWE0wThhOsE9wT/BQcFEAUchSIFJ4UuBTgFQgVRhV8FbIV7BY8FoQWnhbg
Fw4XPBdsF6wXzBfyGDIYZhiaGNAZIBlmGbAaDBo6Gm4aohraGyAbNhtMG2YbjhvUHCIcTBx2HKQc
6h0mHVIdjh2wHdId9h4qHkYedB6iHrIezh7oHyYfbB+4IAIgMiBSIHAgqiC8IM4g3CD2IQohMCFO
IXghjiHMIfIiHCIqIjgiRiJUImQiciKKIqIiuCLQIvIjCCM2I54jsCPAI9AkDCRKJHgktiTyJTIl
VCVsJYglliWmJbwl2iYwJmQmxCbmJwInHidGJ4onvigCKDYoYiiEKJQowij+eNrlfAl4VEW28K26
3ff2vi9JJ530kk5nX7rT6SRkTyAJJCF7YgIJkIUQImtI2IQggltEIYgMgiIjOAKKCzq+5zhv5o2M
jjjjjMs4ozM+lxkXRAdwQyC3X1Xd29mDvu///+//vv8Xe0l31alzTp21zqmmxNRKioLt8BcUTTGU
lFJQaoryau1aWm/Xm7XALgda/Urw9ZXj3MmXj3O7QN3xl4/DX4wUgzupAPdmAHAjb1EBkMBBKkCh
/yBVFzgPFsFLFEvJKSrdY1IBR3S6X++l981NUGSjh7N+V/0D3rk+39wVMHTkEzznMXAcsmgOjWZR
aKgTP15bP6fuQ/SAl7jnQCn3HBoXiwbfCv9MhVGRFAW8rNePHqyTPJx+8vB78cOMvgJzeko6S5aV
VOmWJLTq+rN7sjvRo0W3OmGRbl1RQlcS/PPZs2dXb179GPoPvazevBkBpSoCB2ErXUV5KcrsTwJu
v8nrSfenJ0ncScCfC/LQsiYzG+10MCwTQZsjAKsCanBNXd4Y1uWui89jRQxQsjqFWRUiyc1RKFfU
qsrUi1NrovMdWWJaajP6Zbm5SlV/o6ajTTp7TsPyrHipUaWRKSUKViGy1VXUrVEvbFXMbctJdOjC
LMpwsa25uulmbQclptoDH9BmWoH2SU9ZqWgqjqJ0HhOLWexP92OMTJ5cED3+MxUgH+nNwP3xgQal
ov9Ag0L5rDOdZZylPoXjM/Qn+Uzx86h0Bf7IqcoduZhHM52VFZ2dFZWGHJcrO3tuDndw9IO5+G+o
cFz7zol2rCBwHv6WZtBum6kUinK5VRCh4UWL0maEQDrPKb2bcWKE8kA0YqIXIciwZr+ZNYP7F1id
USImIcqYatGEh6cy4tAwq1ssfiJ1y7K2HrV+gydFodxaU7tQqbm9rqWqfemTh/ThKRZXfoge3OI1
RiVZE2OtESMvlS+6qW1TWWT9vNrupbWd1bcubrzxJN5PJFughMgWFZQqLFEU/m5LoBQM0vmInxQw
MzRE+6rXAW/Fyvg4X9scTwqdn/Uc9y134clZvwXZIBbPCXwbKKW+R3OQdOv9Jh3LQNadrtftaHOy
RlPL7IpVsfE0k9XNfdx3O/ev7lnPAAVg8FpD4GfgjwgPLZFcTDrrRgLLuv1uvxlYG3QNoTeUJc1W
NegbLI2lSQjlzrQij6corb2df0Uw8pH810IKrw28Qan3e4G/P/KM/kwkeYbUmf4zZ/oJfXRgMbBS
BzHtfjPtPnzTf7QcVHFv4OlUPWBBC9jI84V1Lv1a9zXYuJYi84oC56lvqAewNgY1eIegvbzmojHa
QCscQHpCY94BNwxbMPJNC13lvJbqJHZgPpKL5UgujFhrKU8EZFiVyJEE0/25tNmBhEQFIpAg5EIk
D0kALOlrTAwTiyWOrLKlaxoTw0WMxJ5VNhSVFxMiFkNZQpQrL8bM4Hc0k1bbs9zj7V5ek+atW9bj
8S7rrSnPXljldFS35uS0VjmdVQuzCR1foycO8VyMXhGfaCdobDd8OzAM1wyOqND34QjRpQjHECS3
XtaOxVUQWCcvpCrEJN93Bk708bq4BIaNTUjKFR+03Lequ18jb5o3OHhpw6yc2MSK6pQ1dw8tnXcT
5kshorsOwXTjNUehEDOBNcCLVBQvogZ+YlfwaiByyDLUsaRDzXpiEm1S3UMrlq6X7xWntBaykuSU
MK0mKUvCuGJcaTCxvb9vcXJDiHFZ1o3bb+tKzitLSSkXwWUZKTEZmbz9DcEygjZFRqkIVVhG7H7g
pfVOGoIqfZXxDiN3Wg6O7/xbMvzD1f4dOwph5shVZMLfJDxLRPj3IJ5ZMP6sn6DvdLj9eLN4fFmn
3g4b3k+IXr5Kq39yw22l+SFVnuwbZLLS3NmzzHeDUrhmLfzJjRv2dWxJSG/KyW1KBUM8blkIdiWt
pTRUKJYa1pzuFeBjW6XDhgobC/DMol9Ci7OjQ6N/rG/1Np1+dWbPfJ2vp0oqpbWV70LZ3q6+ffes
Wns7t7mht7HBn47xzkCwXxD22u63Azd4hXvRAMNGPluBtvvaldlIUivQmEa0NxLKhm0nRawjIoo3
7ZO3KhdQvElFI8C2hgJVXEMBw56Ji5aod7e19qolxZ6MZLnm4faOmzTySiCvzGIYV+UshgEVJc1z
ShISt5ubfW3r17eltZjNXUXtGzctKe4E0QUxsQUFsTGYHz2B9+EWhI8Gc1uMLAHDr8vbRzi2Oo0Y
Em7r6NToH+9bPajTrcnAzCAcsc1/F8r3dq3bd8/qvtvADsQNniMYPtJjkAQZpMfqMU3WTdLodRM0
G9zPKzieH/ge2Y8GNJ/GFgdbkODcfciSfCHMIxYFHgjahXxKBVcB7P+pPOBixehfvh5aDdyjAHgN
L65/dstauHYLj18SNR92gScFv++3s2L0qNVDSj/yrg5SOjCrv/98P2/LnAhuLQ8XoHEu9A/W6kc+
MoBGwP3eALJHIUOqH+2zA/HVjOMEveDBkWipxzRSDRiBlhciNQZfnYSx5scxcI9sT8uCpSpF71zz
BoE+AF4SZafZ/al2RfOWTQvm9mkWtY/xiPp54Dx9EK0lo3IQZoK7Qyvqkb1hzKZRJScf+s2CsEd5
PWa8x4w72je66fB2bVJ61nyZJDqxrz6kpMUoolVR9QrD5nVbXjSYDm3fWFA4e0PzT18ICwPgoTtr
FhkN5bX1CSXziuqU6tub54O+7JzG7OQcoMzjrmWr5evn3rT76VtuOxWf7XR8dPzRfzQt2XlLzQIR
zM5dUbHoHry/36Gnx2iGj9VcdtYJvHqnHDhp8C/uSuP94KE1Pz3k98CtDz5IM9euIDOv476k0G4h
8YIpSNeUJAqh9Cyx4+lJtJPWB7UIG3gn/obQP2KPdCSnWBmR0pzgCP+vgZ+v6NSySVGxXhWr3der
jdRlZkilKV5Q+jprSHKGxxjlkHsOXlrcm1hllGRXxvf0ws0vxmekx1N8jHYeHiH7i2QhCQS5m+5n
x3h5JDy0Jrlzt1bTviRpUXR4V/nBJ0Itl480wneecMUf7O78SULUqcRPHzz6JdpDTM8TiB4JiX4F
Epx6Gm1YujN94PUjj1os/zrsmh9yNcZ9FV56+6cPvQ3XcKrvv0e44LleNFdO7CUfjdqRgYz8ynLO
cM7+lYHbOAB2wjXHBl8dRMMI/niOE/0hDc6hsUlVf2R5y/CWb3gA9OPh3Gk0gtBKaxCtNmzXWBXt
dASNlTlIOm+aneAsmE0rCzruqV9+b5bWcunhxbsi7lJXZ7bfqZVZmoqK+1WHwW59za7VBSufWnbs
XGvDHF/Rse6C/uqu2QJOHwl02EkMbsdxONACTfLwwLCPu4AwGwa/A7EjKlDNnRpHC8jn4yuAJoD8
geEBeGlEJXwfuIRs0CvoD2zxaRwboh3ivUku69eDVyolcltI6Qp3WehK2qpVGNRKGcvQIjAXRWmq
xNRia31MZK8uUqLRhRlsWqsI/HWMh+8juAqKkgIvQN7NSfIGoAFhz3AnvnzheZiOEPaA0yCXe5jr
AbXcYwjkfwZxfkzwFTTeLpDf/kcDdwgjvovsEqDkgW/pIsR35EXtPHAMXo8cKTyqgt95b4B37b3S
vRyAHhl4k3OA9zgUmXBqcPHaFR6/wEU6k8TFWKKQYuHww0mnb+oBmbBqeEMP91tYTTMjF8HVawGo
5rAtqUR7nUFsSSi2LYyw1zZasCAREOkZXZt+4dFV9+fowr4C5ax6SXvHbrVM5aztW5wTDV3c8Y+W
n1554gNu4+K9excntJSnJM9vpAQZrycyp0Mai2mxYSGngxr6beLwwMtA7NLvWqeLiigpkcty5gAL
9zG8dG5gALT+I2V2UQKP4/sERxUVgXwWG3RZNmzN3OYJxs5Ns/vi6lYeedwSegUUPh4aunyP369V
d7UhtVS3dcXGdWrVed7Pjh45d+7IA2vPlGctWXz/4WWde0LvFvAtJzbGhNgZ3F6imaM4g90/fepW
mDI88FL/Or2i8/EofdF8uSyvCO34f4IUDoXbK/sq1oOUj7wF+cloT+KR3ZiHcI/FdkNgqXhifJME
3dGj4QCcVx9VFJXPiMJSs7OSDBLdoTW781dI8xMT8lmR2hZlktAVJUr1cGvaKvhUV25qVKg71OJM
nu9de/fwwqT8/ERLjEUnpYGjpbptezIvt+2IrizI+zFEEQrOWLCrfbh9vwH8xgDXjOxC0cogGrcE
4fpXNE5PUWFI6HC0jI2sHr+1RS8pGS5kaYW3KT9KxxYOl5gf5t7vBcngN1xzQl55bGx5XgI4xuXs
PXUKr7kMyZVIWFOPpRFZeLYTXn6AW9xwDCmFCFy7dgXxhR97UdQAr2FLSMYK4/E/QJfAzxrL4D8P
cLf1lsK/9WJ94aBi5GsIrwXAF5yeBkTnLyMa3xZsCe01+7F6IrcCYoYfrx1+nPvu0RO9vzgJ7gbt
585xh7jVwMCdJ2svRfNeJ3YYz0NkIw4B7fETLf92knvdPwyawX7uCmC4bu4YGY/0Fz7J04W8l53E
fTTINIz8HZziPjFAODiIuMnzPTJwFGygK3i+I5OLkh6gGlig+u3e36qxvWqhf9aCxz2McwY+r0Gk
Ox9edW4VXXXtickw0Fc4ofDfPrBAjUAgc9dyramF5FVlRM8QN/W8O60Hos2D22pOgjLwKNcIwrh/
Yh6dD2wHnwaeweuIUeoBPpVwCsk8jwev8yvoAXfRDMEBZYq/WrWwEr6c+zOif+mBC7AKXEUxYwiR
IL8zGK2ikMIPSQytArCq8g4WWirdS5dotcOd9XGSt7uqNGld8zXgc86YaLU90NN9f24St62+p66u
B8P1ILgViG4CF1ursdjc7WTTBbienUN5OXUdHVrt3m53oQayxQikFz3oKm5FzqGu5Yfs1qReHii2
gReQU7qKcsBRfcN2YcxLg7PGGH9GjUyalZXhMc0qWr5Op310RQH4260pTVnZ1cm3RuzvXbmfCtJ9
O8JPh2Nl+3iqTWaMbpSAIRhAdFcIdLuLdTBvaCd3XsAyyWrHhNusYM+1J3pHafch2AqEpw7bXZd9
fKSWCxAXXF5i1aCUe0Hi8OTGb3HtqFy1Qqff83Grjnv1eRATHZP1X+mVRcayqrvXrLv33v45sVmZ
iH4/ovvf6AUYYz3RdS+/TZgXKrEReX5u1tCsZH2yWXNjW5TVYDMpjSqZhGb0q/RgHXcnWNd/T/sW
zU1aiV5lUzjB5n4+5tRyV2AlwpdkMYCGQmKJXCqdByZyBkkEH/uyDKwsS/5i0c2yvSDRHZ4QomdR
Yh2OJKRVq9vb7crTQskbXZVSCeKTRIqkxMv9bUWrO9kY5nFYbRHO/T29hxzWZG5bnc9XX+/zYTlF
wgotaE9CyNmKF0kMi8jMhUkIIxVE0fZzQ3nQ23DCnjIUK4IiVmHRW+PMMnH0EBKXNZmvcW8CkUkX
qw+VhfujI78itGXieIJWINlX8RZSN5YiAn3lUGVNcSwjznA6YsUMlmXwObCnOhypKU4Hma9BFmLm
+QNDAxPmj6jhxfHzeZoaEU0KYif8XlbvRPKPApvievjEsxeffm4Q2od20lUjn5z+C/fFn/6Ehgbn
gWLhPATHQcU78ahrT4z7nrahPcPnAixmlRnvEOZXujtaYJeff0ujt3qgYKG3cmFUeF38QRvin1wi
jwqLNkkQ89xKVuY2OXUakSh6qBJ8npBdERX7O+4PAFaG2SIzXdaL31eHu0LC002Wi+Dz4D6htUOC
a0/aJrKYp3GafULQE3Mm7xOCCSk/0plZCCaLT7SCeWHUaMp64R8boh75eCAKZHVXSKVpSLCk4Orw
x3v2fGyuS/fV1fnSEQwpkuOKUVvGjrc4ZOMEjVaw401OytDAzYI6Y+R4m8O9Ci8GjRmyFQhuNcHN
gvNeAQzWwIm68a8gnHsHhlImWg2Wtw4gbkQN0oJWI1HY5/9EsLWj+8hGj7FRAv0V1jCXye70hKvF
Tsw/b5HiZl24N9Xxd7IXEcgmPoXmx4yLQYRjZByGCKfN9GgMAp4qi4jW2WgoMeodsvhEqWJr1TJ/
ZZwvJEoEGZPaJYmPl8g7Z8fVgZerHaFamVYpVYkNeVnz22pqM60hCr1GohYZMnyzmy3kbA89rYW7
ed/M2yR8lAhkyBKl6FMsQ5aGoO05dqyfl935aK99CHs50XPGg6MQxua/aSjOcNgQN5Tk5EqdSBe/
3bQJyLj/eucdPCc78C0sQXOQHwyDOIL4c8nun3B/KN2NBn4OjJwcfEMJ4+iViB8KMg77fJKBvpX5
SFHZvv3cqyWZR0v3oDn/BPHcn0AkmhfPvcXPDaBkFHYIeLlxnIGVlXWe23G8ZMnJ14+ebB96HMjf
37r1fe6bEyfQ+K+RXPSg8ch/+/n4wnn27gfLjh/kog7MA4e5z4B5RI3GBRDcZGEcSg+QYtqvfqbn
kkD6m3rwfH8/4g3BvS/QAs7Qc6go7KfT80AumAVYJAxADVCmE4H0mDGRT6LzQHqfvEpvlZRaFqhj
1FqxKFySalOxmlD0jmGMMaoFlmSpVQsSyuz9z/orWgx685NpteFSsS4xK/HJUFdLhf/Zfrzmh9yf
QTU9yMcnWueHK1fSg1cb+H2KR/hsRvjYsWwxCAkQj48ZcdUChY4YiWjygQkhBjbLa7RWaYllgQrh
w9AIH7uySBfOssYY9QJLksSKxCCIjNGIkZH4141hgtcroW6G5WArqcaYSWoqcmOjwrpzaXzAgWQZ
fFdvsni8oTKj2iA10bI4i8ISVy9Jd/hDkzOT3eposLw5wp5uEYkVjBqyNlVFk7QgyulN9iI9TuUu
I8SRnUBZwLhKB43E7w9zExhxztx4MbO4flc9hF6Xy+dzuUZi+ZoSoI5S4TATvklZMS/GcmXs2r2Y
N06/UM8Bl1X+EJMh1pZZLZVmZBTEQFNskrpM3bpAo7mtQwXfbJSp77KENGZl1njuMogXtkh+0t45
rKxDaygDl+FWFKeloojJTQ6P3UifePtCs8FUKBKgcNOAD0XMJLBA0Q828wM9szs0Iolmu2xhmEz3
SO+H1n2sNDEutUgitdK3yVZJoZzOc4W4wjpy++LK5ri8+l2iCGtCTGFVWe+dHKd1xM+r8PrrZIVu
t8KrDNPMMh20Wvn4IIJywe3Qi6IZfBbvwYUWUnBB2ZrDzbr9+LTV7TfrRkMD4DiZUpJbbFWoktIa
fLn8H0pFMvpDu7NHLiu/o1smh9EJmXP9mRVV6f65mQn4ffbcikz0ntt/Q0FxQ0NxAeZ7FkLg9yj+
DSH5A4601WC0UuHH/KG9YMXpE+/tlJ0KY16UvegedqNnRndStnPLCXAehfevFbqiCr/+ujDKVQhS
MT0fBlJAFR0drA9qnUYs+SvQf3Q013aaayNnnZthDYq1DFQZlkaSyiUDhjUxJkOECDiJayU5dCQg
1pY1jR3J80YX5U9IJtL9goMAji2xElpsluq3JkiAWKKAarEGJN8EtRp7eKyYloQrjUuy02QSr8sm
V+1q715rukMSlxiVLhaZQywbvAlSVUOoTHlLXW07aKiPSNGEmFllozVZJlezSpFcJAN1kUYUi+vC
LTJltmtOXmJ9RHJ587oty5JKfVEhMRpNaWRpVnNZSn7t0jayr5tgM/gSXuHPc0d9rvD680K3zI8e
QCa8gVeSC5OD/1P43K4Q5YEN5LxPg3NgkS1aF2UzyYCNgZgFOtY5/jDNS9jDJ8Ie7tlfpQEZmPur
tF9y3Gtx9w1u+2PcmiY62z1roUyaOyumVN0Uuqmqrcd2X1tVq+ETUP7JJ9xp8PenuctPPw0kHldM
W05OW4yrrHnXy7uaydk3eBXZTgZREirkMcxYGsMIp6bIa59JvkEMnZlFBTJZW6E/XHRboVcsdtod
Hhm8xr0T5mrLy211hX2cFmnzevMR3NlUFYxEsi8mHg6JvN8sJs9g56JFG85UcA+SF5D/bNaFrzKe
J89YbmupXeQsGuWULj9KJGnw63CuXw+p5F2P9XN/p65fMxNN4K0Ve/ep3DXzkSQ53XcJpw3xYHre
jsxtnVNqaSh8ubpEoeMu90XHiKHSbja2TeHtyYcffhgc9JSvKTTbNAYWIjzXwAOk7oXxRHnxINii
4m6Gl5ow3+8F74Bf0wx/DkQRg4p5zgSrx+CsoWvzXJl0aW6OuzhDJI4t9svg45ubmnJzbihOcTiT
U4qJLCIfA3tgP1oDn5n67Sw9riJpx2f4b/eHndGfCSPP/f2w/2T/yZO838xAevYk5Kgwwke7P5fh
7dBYvezLwwru2b3QoYrUGeVQHJbtpjs1i8qK5svYjBSwqWI3tKvtJmuI3B6bai1uqMtJmpfA+6Rq
EAeOIfpcCLYzWEqZUH5D4eD46tt7LeqWgrwimdQXYWJk3aVFlcwi2pYdL7NF6mTyCJdYFGoJccBb
ZpXMziqIUOY5CitrcsKj47MSIchzWEPsfN5wCuXsD/A5O5Y6ULjgVD7N5O5LQN8xKO7A8ZNhfPyE
vWUyEvyxKOpvEpWKVdESNn5oXDQFxFAKxQw5IkGwOgJL4VG0t/h8hhwc4we/ifCoKmdb97bcbd2z
G9qkkv1t8FLrtTfoxGtvgNNrOtqOkPmLqUeAHtyAz57HPOpPsSNF3pQRgxsET4rHFgc8QBc4j2mK
BKz7l3V3FBuS74wmcF5Ge9g3obYqyVccLlkEj5Vz2Ug+OpB+nya1trH8YFxDwrt7q0zL982Xy487
UmWOQo/MQTNNdzQ1zS5We/LT0vJxykKVIl12BnU5DyAlZvnn0gNtbRvObCTPdzz7fMZXF7LIM9LD
4cAHdC3K/3D9UydUdnmpBF7a72RxJwR/dkNHpsnTlM3KtxmgabwzHG5fijsfbISK+0qqqtyggXvl
9Gm4Dnc6wCOYLMSJHQj+cpJfSnHcB0bBiaeRZIaF92KglTxr1ESqRRHaiIlSXSVTdNCK0WU+qNiN
xkSGhI+J97xmbGNWTKAtYwbafozQT6H9foym4UepwlTeDF5XNyBlQnHcr1EcZ8ZWwxU8CfKgiNkb
TMjywJg0gk2kJCcVW/PjxHCPbHewJFc6GvSNTKnJAXFQcGmhrnWO1LXUEytb+DxtUnUrc9XCyvEV
LrRl+KjtB+BgHZ8I5xLS+Alw3sDaPxmOdio+7skYSX6ze07rlgmwMg8cKOzuHoV1lsByTYJFtt4c
QepW/qADdzomQS+uUZQmh6awRqWaCTUCmga1hjKvsUkfOWHFWG+TkZYyoggopmFWbQIlEtZ+j6yt
x9Z7/OqT45FJq+ZNDk8mLPbSxFBldC2eZ0acYUxaS5AVz1iRfOJ6R2o8LFuMn/oc4ZA2OMJpOHF3
ZsXGzZoVFxui1YaGarVCPZR+iNhWvbCe3ew0e8nDTuqi57mrdQfBQdBnueL8NvTb+Cuh3I3+NLj5
wQfhpcFHBs8OIuC4Ew5SFQGPUKMMm7lKiT3FjJVK7i1kb6eUK699jC0wXx/xIv4QyRxfeXQhiZpU
feT+gE+QhRLkv2Ppvs58N8Zp4vwNSLKD0y8ToR4/Xzt1ffcUDA4RkQ4CaeWlOVhLzkUyJUjUeEhR
kyRqMsw3p0S8AvjzE6SJ4AraEa50sOqCfQipVJoxY0i18t+D5+toxJ7xYzE5ZOztmAtk7DgegFNk
rHQMrpuHXMMTTMaPksvTC36H6KUJxWRW9GTNwfPDphBHQE0kDeHgFGrXClwNJ1WJ0fo1z0lSw/aV
6kuTg3XssNX61XZSywbV60EsX85+dP2fvv+enLPjuuVZ3rqMr1zOZF0mVjTPzmhcxtc66fzJxoXw
hq9/niP1T+vMFVCAuHy9Kih3Fe/q9KVQ2Ez2+UevRaMNvd5a5VgoZlhqv2D/J6wVeX263Nen7BVe
qqZfEHDj5Ixf8yxZ03sd+mbY1ethcWXGPZ4JsS+n+BIBv/cIfnbSIzgDhnCSdlwPs8AUpZlha4Ym
+RtAJSEEOvneSqTyQn+m29+5eM9vS166Z/Hul0p+B07WPfZY3Un+GfMYBN6hb6F1SPu1WFukwMQ3
wogBjz/tDya0ZuG0ARnG/dztSeVZCFmJjCsC/SllCH/FOysyzGFfHbu1rqPoRr8p7MKjt9UuA5e5
x2MRsklFr4La+L2L53Hn27t3nfigsrl4SceuEx9VtGH9J3ViJFt6rP/TVIqx/Zq2WvwVUpJpK8a0
lo9/fhg2dl/TV6L/itRieuDzBds5Bjt0Rrzd02P+LlGCacHDZ4Q4SYD/HvEqzmlXoCYJ1vSUWCaL
1PRkFU22y6SWjeiTCJUkoZqNncm4irYP82lcWZs+x9sM3r8Wkho6yhr9pF49qWPjI8vwwLDeN6ln
48gReGn9+JYNXLMIXCBnY25s0XXjsoN44DdhWG7+xelQMSztWRTz3pKlam19TqJCf2qTwZC/WCYv
LtR7CiRsdIw23KCVyWgGNMAFgFq/pCs7fNO8jXs3wpaCwjrQD3I9sZkKrc0ca4gXjbwn+DxcsyZ9
jiG453bGqjXe85kr1zhOn656DVkhXv/R65Cwa+YKuRxvynQLzSabM3GdiB+gx30disy8IE+zFDgR
lGOyFvyErOW93lrTGXJ85jnz8rXT2/GEJG3ktDjdP9GKm0w4J+Xxu0Lws5Gq1kwYTk4QZkascorO
TbcbmZNzhgn74qASro/LlARiZnyerEllSC7BrBvNJaYXkMk5BU05AhfoZHCVYlDGPgv37RPfJh5N
BtKjxzccuMcjS5qt/bgqyjdKg+/5VgPuqs0jZhIckVlisQfKxjUlbIyJ6vRWLVIoNlYWJNKSNF92
nrYuI7VOU9K7tlUH0mOzMm+NirQ5oyNsDoZvWKh2x9VWlteHadJ8phsNruh59/YL/RYeoXcjdKbu
DRwbzdDB8SpKXSZ1cYxc5I+OEE9IvwXNkH4L6/U6LmhsEK7XdaFGNmFK5wXoFmK8H70Ozuavu85v
kEmYus4xwR6MXyfyh+hxX5+iVGITpq6lGI3tRGQ9O9I5XTB2mnnFKUp3vbWZyXo3FY0Dk/0c7tdI
I+ee43Mr3KhhE+w1+PzvQm6Fxw6MGxtG3CEeu1cwueBzEIaZCknvzJ1k7MTcCo+uGrWb4PNt42Je
XJs/ivgyLreaHD2S+aHT2Re0tHpS3oh7HObQC3lbovebcBwXge+xjOpoNCmn6UZtyJmVCSm3eG7R
GVzGUCmQyDx5lcX23q163U+7omJDM9FXcXtGGyJo3TyXvzy7IsSakzKvpCUlrz07Rr1r/dpd6sq5
FTnlydzeYKsE7s9CT0XID/BeYNouDv9MLmDm9o6br+cCpuv8WD3VB9B8LwipfWhxr9fUbhAs99N0
hLyCJWRiVwg4JOjuD8LEOjsNTAmWpEkw3xX0dDxM80x4uqfD9DwvcZPgFoyTPQy7BO0Php0wLeyZ
dmea5Z64zrZMwiF1yoaIeDpJnVBLLMQ02EzWi2mQeGaKlkxa+rXJ9cV8FHPXQgO5n4j4S2CTxivd
6Dsa97uaimNlpANL3D/67h1cMtqTWowbscDT/Cv3Ib78QQeuBd6GO6CK1D2duBLAeyM/y3tQME2a
9btXwmLTKqTMly+and5KKc2V18WodY+sWZLdkLwgUql7ZO0NGbXPnIyoS7fVPGKo81m4q6WFi9cO
++d6qgrr1+5JKiF32C5AH+nhVk/sfMGB3YTul/t4WzfaAQO4YA41Iwxs+yZ20CzjjeAoEJgt5Epj
MLRT8XBPxGRd0DaO4XIkGEsSOEguhLO28ZAm+4kJME9OYy/HsEyZFIdBvs8meK8k2GmD6R3ttgFn
Ea2jLTciBW/zST9YsAcV0DP1gxXnTewHOzV3ahMq96qoYSRc6PDEMkRwEmrn5jGsJieBYxiyk4ke
Q5eaQDEgfk0PPh/t/cM+hncpY3ckfk962ak8iBI5v5q/dpBuqPIOR/Ub+uPx7YMUbrMHzPm4bEsp
d3EQ4H71VDRvK+IHuUPA5uF+Cjy1dFaNtiZrKKFaW10G+j09HrCK+yy1J5VLJefO50XNiPeh+EQC
BA9T/cy4eyO4WusaF4DSTZaPjB/ZvjRwg8rlQ5335WtCvztQtNoGlWDQMHLfor0adfuixXvVmna4
Bp9x1y/rO91+6JLfUz9IH+hYsn//ko4DwbiO3kZiXQ0VPxrrRo8aHfH4SJcRmgv42BaW8iHIG2Pt
gq+Mi1Q2J5SvWzsQ9cia3qzSvmAoGykYonI+Sqmv3/PxcE2NEL/iXv8FKP+OpZJ/ZLe/ixz7/A96
/rmXSzpvSz37I1r/Xy/o7i64n+/NCVwA/0L7E4NPnH5UByCP14/vA+QuELR+uB3wHzxWtHBW8R4l
CWqecFoxpaQzdnLRNsUkjD/FeG+8gkC+T5/UcpRjnfoCWRP69bk2gjpp2//5KM/4fjxiT5RjHXn8
/HF9edytZDJpz3tHmAwCHwaa4TE6j9Rq8U0rFLyhSBK74En92DQLfr/c1LtQb/Plts7KiLGXOEOi
67NNuS77ilaPw22J0Fq1BjELLpdyf8+ubEy1i7bAVMc6oCpd27HKuEGr18drTETfB2EceBPhK+b7
993sIH9s2zsaLwBqBxpzbnQMGrWDF6YzQbKv28cBqD2wAZzn7z/pvSbSWebFm7RniUipiZwVtkS7
YqgWXnKqjSWzG4X+wHdgM9hIbCAVtHvANLFbiMjoGZhD7h9gP45HTq21aabJiGlmcvbL39WLBKLA
eSRZlNlrnJBDph+fk83SRn2IxWKNj/EycgN0JurDNPN0ye7ZeG4PvAGMoJjKEuzlmCZ6+sXMoRJc
MCU2glQn9EBtMAfBMaQLPS5jz1sV7Nj4GX8GB/B5GfwnLcWWNA8I6hhBk9ujpNgPcNMYnxib0d9n
QFKSOuSPd2S1ZbkZRt2RC3ZpuUvKrCV6mWF2Rs0mnS4pScld0vbS/ocW7/19bPENS1I7fuaje+e7
Ht44Z135vv41xx3ze3m+/e/sGUH+Cb4A88hNKifNmJ3RSPgZyDrTdX4H60732uFDc1M04i0KXepu
c5X7pthqbWE08G4GT4Pfc68vS4/qB97l3JdVC4Fmkawp6od+PyAOsDBF+A7JbTb4WscpyLeAOglY
+sjYd7+E/9CNhAvfLQNnwS3CvRe33vzp1l+1gLMqkChH33Wj77YH+2toN2Bu+o8FNKPm3pTza7KB
xcA+9lsHD4/91gHEcGHRaN7pJm0SZvAIAs8dHV2D+yNZCY9Ha8HC0fF4teCKYOHosiBFWByStd8n
a7P86kDAACwIogFSCDKAujPwIOzgfTr/Gw58Ezbo3B59RHdk4faF6JmuutA38jSs6MN0Bw7DZWi8
fvQ3H0bn+Pl5djTDhB5Z27OEd3TVG307+rh7wCr0gmAcpl6AoTAdZ9JRwfMBBgwdXKiUDz6wQKF8
YUXl/BUr5ldiH94cOE8fpR4iNY1Qcmtc0P7J1diDYz1DtwevSgffPCT0YqSQi9Je/ro0S60LfCB6
etzvl6Qgycz50b9hEjX1I9x9c3manzX5dOrPmgD31M+47T/qt06qp/3pE8TX2VQVaCT9ScSS+M2/
HN9byMtlKRrTwo8Z37vEdy0h/3Rj4APwPOknIr1E4CaCkrAEmj8r8AW8gxbz90bwgaCddSImGZEU
MIIlxbKQhnbVh17x6T68wxjXfHM8AJ7PaVr0pucYuLkl3Zi+4p90Q2ocDZh5qd7af6TVwg9ujrut
S6kNkXfdFb/DBtgulZExwS6U8eOzGpQrWOliKhx7TpeZN9g+FUDmwq8XWoxwfzvudEYGGf+Mxefx
i+5qnsdAeZzMUGFMMG6tLslQhZ2XSONiS5rD9+pUWeHe5/17u6plNBvJlmTpQMhtdyyvP/maJzcf
/Pnkvatb6vj+5X2gQuQj9/rMo11ufjvf6ybcw/XqwTfyrf4G/1Y5vbewwQdP1RZAX0PhvX64G16a
xx0DzfO4FjCfe5I8jnJfAP3/ZZsOqcOBL0Q6tJchZDftDiswmMdabaN8aVFej8jo9qVhx8Yy6Guv
3SPSjaQz0rUH64Z9ednPLXuW4wB89jkAj8jX7r9/jZyBTjFYIf6LQrluTm5J7ScPH/3006O6v6rl
q/vkmrdYIQe9iGxIM8r5YrBlHc2rxjICTDau+mJkguS/a2hasWG7zf7r22c3hcuMB9v8c5QAiIF2
bsU8MfAvMYt98b5GhSwOPteR+5eXX/+uak3+zQ/4reIwce/Bkb7dC21ZK+flVKP1rQiJn9AqpAOk
VxSgZMZlp5OA24nkyaoArQfWK7losDiPNkFakqeshL8aKapeDmaH7bEYdkSQfbs3sI+eD0f4e/Za
4Z/PTs9ftv2j7d3w3+H2ET38Aj82kvHDgX3wOBqPIkax3aenfXaj3ainjXZ4fOSza1+BEe7Jv14E
63uawEJQ17qa5v7KPSMiv19xBtaCWVgf84Ad/3YFhdtXyX2TH9LV/0lv5aFAN/ySvo+vDjppZD30
kQCpFvzy3LIDlaanlxsgK32Kvu/qn8D7EeUl3COLgDeNTiR51jZqO90EvkBxUSzutwdGAxMsHfjS
SL0gV4Sexfjqhz+aNL4bDSYXCnJFLMl8fGko6eua3b4gpXlWcUdneUZzkkmVZEsLK2kdeQeGZ9nC
vSHO2ERfFjgKNTZTpMpKe/LccWnpIAfUdm2YldtVWdWVkxWqiddpl/xHlMNerA/PT43PfUehCtc4
RHnJRe7UPErYh2LI0E+R3y8g9guhojMasN0iuQ4yKmkQYY3rHJBR6fQOnVXtjl6cYtOGayPUVo3V
kTDfRR9dIA2PHm7kTnTcW1KhXSQ3xW3rBK0L2ta4PLxu9VN3wA5wjnJSheQ2Cjk2IC3krJvouMgc
gSunkUC4fzH6BR0JIhC70qEvOWRufIQnOsNhcuu1KSHVyYpQrVlmpGkDo5YopXLGGmtO9jcmlYwf
oQlllUrGojBoZeGx4LM4T44+JMoSaolLzRGJ5YwSQAUtpcUQRj8YtzLOZbFY4tE3IoVIwtJaRipy
8Xy6m4qFy2AR8fOs14jcvNGOhMLpQ27eZ/dDUeyuE7mfcVfSsuPwGyD2wvjWyt0V60MWVeyu5HPe
BwPfwI3wMH/ukgh8LqPYKDbbfXa4DiVJr3MbwU4x5wLv9l6ou7DgF/QLb8wP2qVv4PrgPD2a43P5
XADNO4omJYMdaOIbXAz4CzyMJ75A/2Lkyfl43hOBV+FTdCrSa/60nUZmmY52O5Fj0COjku6HT73W
87vXeurWKVmRWD0woGDEjAJs4SrBU+Bpbi4QOe1hsRx32WZzhOMzVAR0CbkvG4GrGjPcmfVPvNQ5
8xXalybdFp32Rm3/5CukfO0BrkV40EJ1Vy8H02IC1+4c2vnZjOvz1z851wwXef9/o/f/3J2P//Ve
8x/qZ/9/8M7CfwPM13zmeNqtk81uEzEUhc8koVWpqFqpqkRXBrFMnUlQf9IAUqIWtUJVqwaxY+F0
3GToTCadcdpGYoN4A8QGFrBi0TdhwQuwgQWPwAtwxjHQIliAGEvjz/b1Pde+1wAWvXvwMP628dKx
hzmv4LiAaa/suIgb3lPHJSx4HxxfwZ3CY8cTWCi8dzyJ5eIDx1OYLr5yPI3rxY+OZ3CrdNfxLK6W
zhzP4VrpLRW90hRHL6x6zh5u4pPjAmOYd1xEy1tzXELZe+P4Cs68L44nUC68djyJJ4XPjqewUHzm
eBq14jvHM9gqfnU8i/lSx/EcFkvPcQ6BKupYwyrKjuv8/+Tblmvw2WqkJgIk6ECT2xghgyHH7AVv
v48DrqYY2L+yawGk3RexCc6G6KLHlcyONHvN/sRZ4lxU62urZf7rVfu/XRY136+JZpB0tGiPMqPj
TGz3D5J0kKTK6ECKZhSJNOz2TCZSnen0hJPAfQypM7SR5NEaKgjsWKWQ8zFNhmaYKtE2gdjRQTjk
VIuxR9ZymzsUOeSp0EqiQGwbFYUc1Bhpfh/LaPBkG9yzSbqoN1ZbwhbVFE83wi5vLfd1TAtNF9Kv
LTeaG63NxjgIxrC0pdXJaLcThcdDjb/z9ycnj+z1ZjRMmB5xKfQ9uhUutdL2Pmd7tDQ2kX0K5YWQ
r0nuyFdjyh/RZ25zyNk8hI7bL2m7wqJZJeORTrMw6YvxQffagkmUvu83eok5SPonoip9uew3YnWk
E3Moo7DDdVldqa/6/+nslwsgtCWnXNl17djY29E23cbaBbacFfmIcwnPKJheZYVS8kPKD2zZlm1R
SRaA/FFIYSYUS7AbskpTHQiTqkDHKj0SyaFoqaFOxcPRQGdl0ZZNbtuznvOHsU+ffbZcBXtqGIl9
3e9rDvLHYqi5jgrbqW3SRjp+iNLmKuaacbGhZ8xgvVI5PT2VKn828iCJK4bC/+Ktwvjy+8qfgrT7
Y9KfNSqR7qpI9kwc/f4NXnh1uJBU8WtabTLF92x+AynVHRUAAAB42m3RV3AUdBTF4e+fBEJCCAmJ
KKggNhQVNgtEooKEJGLBTrHQVtjIKmRxsxFFBBVUQGl2UbAgOMqIBVFBROnNOvYu9gY20EcJMWNe
uDPn/u6dc2buw5XBv//Ua4Wo/VTI3tdkyJSlmeaytZAjV0t5WsnXWoFCbRQpdoC2DnSQdto72CEO
1UFHh+nkcEc40lGO1tkxjtXFcY53gq66iSipv91dDz2VOlEvZU5yslP01sep+irXT4VKVU7T3+nO
cKazDHC2c5zrPOe7wIUGGmSwIS5ysUtcaqhhhhthpFjIsMg0N3vFPX50i9lus8ATHguZZvrEVHf6
019mudd0633hDws9aY/d/vaop2y12TKXGWWu0baL22Kbt7zuDW/6SbV3ve0dT7vc7+b5wHveN8Yv
dprhCglXGmesGg9Lusp4KbXqpF1tgp9dY6JrXed6k7zkEVNMdoMb/WqXVT70tW8841nf+s7LvveD
JT6yI2T51Gc+95WPfRmaheYeqP/Zc5Z7wYs2eN4KG91knVsttckar1odWoQct3so5LovtDTf/X4L
eaGVxe7woMfNcZe7rfSatSE/tA4FoTC0CUWhOLuuJhGJlEcaWdnAaEVZA7uXN7JfxT5GIyWRrKq6
VDInVp1IlJZEe5XlxGvTiXGxdHx0QyAaKf2PJT0bWZZZPSJRr7G5sa61dePjqUQylZv8f8xL1sSb
lvSEJic/PSYVb/L2Ao+UrzUAAAAAAAAB//8AAnjaHYvbDYAwDAPPoeLx07lYqhUMSxmDOuRi6RLJ
CKjOSU5wsLAhdpNXs3cu+81jHyZ4+ZByQ6HV//K3mftEBzl42m1QsUoDQRB9u3d7hBBCvJgoFhIs
RESCRUghFhZBUAKKWNguiiIcUZLY6n2Bn+IHaa1wtdfHt3ODEpBj583NvHm782AA1HGEHHZ0PL5E
M/PzCbYQs47FAo5gYBGx8l/NeZ/N0bud+mvsZPd3Hv2H6c0Eg9nT4wwHZFphVxMhRhJjiQ4Jmuhi
E9voY6i8feWcKuuqQlOr+qanuEvFlAqfJjbOJMaaiJ0EK1hFh6ojXPC/xVOj4js+8M28qryx0sA5
XuUF69x4DwMc4ot3pWjzC1nxm5WSBZ1UsVAMneUtnoW1JlgolsQXqXcEC8WSGFGnxTfkOpfrXK5z
wbM2d+oy25BtLG9smODomQkOj2WvE2Z1WPXByv6Wym7JH/fnzg9fLDFzeNqtlM9LVFEUx7/vzTjj
TPPDn5mlLsJFbXJRIopLEYUW/TDLMqiFiyxcWIts2U9XrYQgBiIpK0kQshgKlHAII2jj5i2cjZs2
/g3dPvfOjEqkqfU+nHffr3PO95x735UnKa4T6pff1X2yT6kbV2+NqEFhnssY+Qzeb3f+9aHREaVu
XrszpBr3RO6L2yod1sN+6xN7jrun7n1E+9WjUd3XY00ooUnzXS+wl9iU+aFXjNPmvd5iM1zPYVls
HlvifRyPAI8AjwCPAI8AjwCPAI9AH0wOj4BsU2aZp8vcLeO/ipIsUee587RinnDOu3NEbWpXhzq1
orz8ssNWaWgiHFdaTdQ8a9bMOJZxNqu9H0dcr/Z8mJwZNsM7+nIVC+yI5uCfNMt1YMyM7fDjTldn
YZStl55lVA62emtb9MCs/fl6NzoLVtRs8xauMxtPHMWrbSvO7TJ3UTEr5YoZL81XYS4KuiAojP8z
77pnZiOyzVPKz5rJWW1/zbvDNVKKvSnvRp9zxVWaKc566f3sdr3ear43+fiq1lHw1QIhHYewWsH+
u22K8v+2K8Y/3KF9rLxOJdULns5BmQagXBchrkFI6BkktQAJfYaEFiGkr5BkF8grRbZj7ABpIlZA
tSohoUY4yL7QpENqhrhT4DkFIaegzCmIqgtq1A217Hk97HxWU0ynIKnTkNIZqNNZaFAfNDrFB9iL
+1Wv85DWBahwNfiuhrAuQaWrJKLLUKW7GkeJrSqq5xDTpF6T/Q3UalozZH8HKfbiLBk/Qp0+aZ7I
tgsR14WIvkCdlqDe9SKqb1DlOlKun55HZI/6m5mNFmahdX3v7EX3AOoG0XKP/f2BHuoRehaIu0ik
/C+t0TCPeNpjYGRgYOAAYhYGPgamzJTU/KL83DwGJhc3nxAGvpzEkjwGFQY2BhBgZGACquRhYPwf
xgDShVUUAKcdCXAAAHjaY2BgYGQAgmOp20+B6ENTj7+H0QBYZAjIAAA=) format('woff'), url('FuturaStd-HeavyOblique.ttf')  format('truetype'), url('FuturaStd-HeavyOblique.svg#FuturaStd-HeavyOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}


