* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #1c1c1c;
}

a {
  text-decoration: none;
  color: black;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  text-align: center;
  padding: 20px 0;
  height: auto;
  line-height: 1;
  border-bottom: 1px solid #aaa;
}

.header a {
  font-family: 'Futura Std', Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-style: italic;
}

.container {
  flex: 1;
  width: 100%;
  padding: 60px 40px 0;
}

.type-wrapper {
  font-family: 'Courier Std', monospace;
  line-height: 1.2;
  position: relative;
  margin-bottom: 60px;
  transform: translate3d(0,0,0);
  min-height: 64px;
}

.type-wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  background: #1c1c1c;
}

#typeit {
  display: inline;
  font-size: 56px;
}

.type-wrapper span {
  color: blue;
}

.typed-cursor {
  animation: blinker 1s step-end infinite;
  font-size: 56px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.tabs {
  font-family: monospace;
  font-size: 18px;
}

.tab-links {
  list-style: none;
  padding-left: 0;
  padding-top: 8px;
  margin: 0;
  width: 35%;
  float: left;
  text-transform: capitalize;
}

.tab-link {
  position: relative;
  height: 45px;
}

.tab-link a {
  display: inline-block;
  padding: 10px 0;
  transition: 200ms;
}

.tab-link.active a {
  color: blue;
}

@media (min-width: 768px) {
  .tab-link a {
    position: absolute;
    right: 100%;
    white-space: nowrap;
    top: 0;
    transform: translate3d(0,0,0) translateX(100%);
    transition: 200ms;
  }

  .tab-link.active a {
    display: block;
    right: 0;
    transform: translateX(0);
    transition: 200ms;
  }
}

.tab-content {
  width: 65%;
  float: left;
  padding-left: 60px;
}

.content {
  list-style: none;
  padding-left: 0;
}

.hidden {
  display: none;
}

.content-item {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 100px;
}

.footer-title {
  font-family: 'Futura Std', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 32px;
  margin: 30px 0;
}

.footer-title a {
  color: blue;
}

.social-icons {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin: 0 0 30px;
}

.social-icon {
  border: 2px solid #1c1c1c;
  padding: 10px;
  height: 52px;
  width: 52px;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
}

.social-icon img {
  height: 28px;
  width: 28px;
}

.footer-copy {
  font-family: 'Courier Std', monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 0;
}

.footer-copy span {
  vertical-align: middle;
  font-size: 17px;
}

.footer-copy .bigger {
  font-size: 28px;
  margin-right: 5px;
  font-weight: normal;
  height: 20px;
}

@media (max-width: 767px) {

  .header {
    padding: 15px 0;
  }
  
  .header a {
    font-size: 50px;
  }

  .container {
    padding: 30px 15px 0;
  }

  .tab-links {
    width: 100%;
    float: none;
    margin: 0;
    padding-bottom: 30px;
  }
  
  .tab-content {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-top: 30px;
    border-top: 1px solid #aaa;
  }  

  .type-wrapper {
    margin-bottom: 30px;
  }

  .type-wrapper::after {
    content: '';
    width: 100px;
    height: 3px;
  }
  
  #typeit, .typed-cursor {
    font-size: 36px;
  }

  .type-wrapper::after {
    top: calc(100% + 5px);
  }

  .tabs {
    font-size: 16px;
  }

  .tab-links {
    padding-bottom: 15px;
  }

  .tab-content {
    padding-top: 20px;
  }

  footer {
    margin-top: 60px;
  }

  .footer-title {
    font-size: 24px;
  }

  .social-icon {
    height: 48px;
    width: 48px;
  }

  .social-icon img {
    height: 24px;
    width: 24px;
  }
}
